/* Дополнительные стили, если TailWind недостаточно */
input[type=range] {
    -webkit-appearance: none;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #2563eb;
    cursor: pointer;
}

.rounded-card {
    border-radius: 2.5rem;
}